# DS_STORE file, for mac
.DS_STORE*

# the versions folder for alembic, holds the
# different versions of the database. should
# not be in the repository 
versions

# cached python file
*.pyc

# the gluex database for testing (and potentially for later use)
*.db
*.sqlite

# vim swap files
*.swp
